<div id="xm">
  <xm-header></xm-header>
  <div class="content">
    <div class="container">
      <div class="breadcrumb-wrap">
        <xm-breadcrumb [xmSeparatorTpl]="customSeparator">
          <xm-breadcrumb-item>
            全部
          </xm-breadcrumb-item>
          <xm-breadcrumb-item>
            一级
          </xm-breadcrumb-item>
          <xm-breadcrumb-item>
            二级
          </xm-breadcrumb-item>
        </xm-breadcrumb>
        <ng-template #customSeparator>
          <span>/</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
